.App {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 983px;
  height: 783px;
  border-radius: 8px;
  padding: 30px 51px;
}

.sidebar {
  width: 215px;
  border-right: 1px solid #d8d8d8;
  padding-top: 139px;
}

.contentHeaderWrapper {
  padding-left: 49px;
}

.title {
  font-size: 31px;
  font-weight: 700;
}

.contentWrapper {
  margin-top: 25px;
}

.input {
  border: none;
  background: #f3f3f3;
  width: 616px;
  height: 47px;
  border-radius: 8px;
  padding-left: 27px;
  font-size: 18px;
}

.addTaskControlsWrapper {
  display: flex;
  gap: 21px;
}

.taskListWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.taskWrapper {
  display: flex;
  gap: 18px;
  align-items: center;
}

.categoryChip {
  height: 24px;
  padding: 5px 19px;
  background: #ea5959;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 12px;
}

.category {
  color: #525252;
  font-size: 22px;
  font-weight: 400;
}

.wrapperButton {
  outline: none;
  border: none;
  background-color: transparent;
}

.doneText {
  opacity: 0.6;
}
